body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span_stud{
  color: #2e2f42;
}
.href_studio {
  font-weight: 500 ;  
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  color: #434455;
 
}
.href_studio:hover {
  color: #404bbf
}
.href_studio:focus {
  color: #404bbf;
}
.address[class^="class-"] {
  font-style: normal
}